.panel#summary
  .caption Issue Summary
  %li
    %dt= @issue.priority
    %tt Priority:
  %li
    %dt= @issue.bug_ticket.blank? ? "N/A" : @issue.bug_ticket
    %tt Bug ticket:
  %li
    %dt= @issue.due_on ? @issue.due_on.strftime("%b %e") : "N/A"
    %tt Due date:
  %li
    %dt
      - if account = @issue.account
        = link_to(truncate(account.name, 30), account, :title => account.name)
      - else
        N/A
    %tt Account:
