.filters#filters
  = render :partial => "common/search"

  %h4 Filter by bug ticket
  %div{ :style => "margin: 0px 0px 6px 0px" }
    = select_tag("bug_ticket", options_for_select(([""] + Issue.open_tickets), @bug_ticket))
    = observe_field("bug_ticket", :function => "issues.filter_by_bug(value, 'issues')")
