= render :partial => 'issues/issue_styles'

%br
= inline :create_issue, new_issue_path, { :class => "subtitle_tools", :related => dom_id(@account) }
.subtitle#create_issue_title Issues
.remote#create_issue{ hidden }
.list#issues
  = render :partial => "issues/issue", :collection => @account.issues.my(@current_user)
